{% load static %}
{% load template_tag %}
<!-- ==================== Footer Start Here ==================== -->
<footer class="footer py-120">
    <img src="assets/images/bg/body-bottom-bg.png" alt="BG" class="body-bottom-bg">
    <div class="container container-lg">
      <div class="footer-item-wrapper d-flex align-items-start flex-wrap justify-content-center">
        <div class="footer-item">
          <div class="footer-item__logo">
            <a href="{% url "home" %}"> <img src="{% get_logo_url %}" alt=""></a>
          </div>
          <p class="mb-24">We always try to deliver best service & getting feedback from our valuable person.</p>
          <div class="flex-align gap-16 mb-16">
            <span class="w-32 h-32 flex-center rounded-circle bg-main-600 text-white text-md flex-shrink-0"><i class="ph-fill ph-map-pin"></i></span>
            <span class="text-md text-gray-900 "> {% office_address %} </span>
          </div>
          <div class="flex-align gap-16 mb-16">
            <span class="w-32 h-32 flex-center rounded-circle bg-main-600 text-white text-md flex-shrink-0"><i class="ph-fill ph-phone-call"></i></span>
            <div class="flex-align gap-16 flex-wrap">
              <a href="tel:{% contact1 %}" class="text-md text-gray-900 hover-text-main-600">{% contact1 %}</a>
              <span class="text-md text-main-600 ">or</span>
              <a href="tel:{% contact2 %}" class="text-md text-gray-900 hover-text-main-600">{% contact2 %}</a>
            </div>
          </div>
          <div class="flex-align gap-16 mb-16">
            <span class="w-32 h-32 flex-center rounded-circle bg-main-600 text-white text-md flex-shrink-0"><i class="ph-fill ph-envelope"></i></span>
            <a href="mailto:{% support_mail %}" class="text-md text-gray-900 hover-text-main-600">{% support_mail %}</a>
          </div>
        </div>
        
        <div class="footer-item">
          <h6 class="footer-item__title">Information</h6>
          <ul class="footer-menu">
            <li class="mb-16">
              <a href="{% url "pc" %}" class="text-gray-600 hover-text-main-600">Privacy Policy</a>
            </li>
            <li class="mb-16">
              <a href="{% url "refund_policy" %}" class="text-gray-600 hover-text-main-600">Refund Policy</a>
            </li>
          </ul>
        </div>

        <div class="footer-item">
          <h6 class="footer-item__title">Customer Support</h6>
          <ul class="footer-menu">
            <li class="mb-16">
              <a href="{% url "contact" %}" class="text-gray-600 hover-text-main-600">Contact Us</a>
            </li>
            <li class="mb-16">
              <a href="{% url "tc" %}" class="text-gray-600 hover-text-main-600">Terms & Condition's</a>
            </li>
          </ul>
        </div>

        <!-- <div class="footer-item">
          <h6 class="footer-item__title">My Account</h6>
          <ul class="footer-menu">
            <li class="mb-16">
              <a href="{% url "account" %}" class="text-gray-600 hover-text-main-600">My Account</a>
            </li>
          </ul>
        </div> -->

      </div>
    </div>
  </footer>
  <!-- bottom Footer -->
  <div class="bottom-footer bg-color-one py-8">
    <div class="container container-lg">
      <div class="bottom-footer__inner flex-between flex-wrap gap-16 py-16">
        <p class="bottom-footer__text "> {% site_title %} &copy; <script>document.write(new Date().getFullYear())</script>. All Rights Reserved | Powered by @{% powered_by %} </p>
      </div>
    </div>
  </div>
  <!-- ==================== Footer End Here ==================== -->
  