{% load static %}
{% load template_tag %}
<!-- ==================== Search Box Start Here ==================== -->
<form action="#" class="search-box">
    <button type="button" class="search-box__close position-absolute inset-block-start-0 inset-inline-end-0 m-16 w-48 h-48 border border-gray-100 rounded-circle flex-center text-white hover-text-gray-800 hover-bg-white text-2xl transition-1">
        <i class="ph ph-x"></i>
    </button>
    <div class="container">
        <div class="position-relative">
            <input type="text" class="form-control py-16 px-24 text-xl rounded-pill pe-64" placeholder="Search for a product or brand">
            <button type="submit" class="w-48 h-48 bg-main-600 rounded-circle flex-center text-xl text-white position-absolute top-50 translate-middle-y inset-inline-end-0 me-8">
            <i class="ph ph-magnifying-glass"></i>
            </button>
        </div>
    </div>
</form>
<!-- ==================== Search Box End Here ==================== -->

<!-- ==================== Mobile Menu Start Here ==================== -->
<div class="mobile-menu scroll-sm d-lg-none d-block">
    <button type="button" class="close-button"> <i class="ph ph-x"></i> </button>
    <div class="mobile-menu__inner">
        <a href="{% url "home" %}" class="mobile-menu__logo">
        <img src="{% get_logo_url %}" alt="Logo">
        </a>
        <div class="mobile-menu__menu">
            <!-- Nav Menu Start -->
            <ul class="nav-menu flex-align nav-menu--mobile">
                <li class="nav-menu__item">
                    <a href="{% url "home" %}" class="nav-menu__link">Home</a>
                </li>
                <li class="nav-menu__item">
                    <a href="{% url "account" %}" class="nav-menu__link"> Account</a>
                </li>
                <li class="nav-menu__item">
                    <a href="{% url "contact" %}" class="nav-menu__link">Contact Us</a>
                </li>
            </ul>
            <!-- Nav Menu End -->
        </div>
    </div>
</div>
<!-- ==================== Mobile Menu End Here ==================== -->

<!-- ======================= Middle Header Start ========================= -->
<header class="header-middle bg-color-one border-bottom border-gray-100">
    <div class="container container-lg">
        <nav class="header-inner flex-between">
            <!-- Logo Start -->
            <div class="logo">
                <a href="{% url "home" %}" class="link">
                <img src="{% get_logo_url %}" alt="Logo">
                </a>
            </div>
            <!-- Logo End  -->
            <!-- form location Start -->
            <form action="#" class="flex-align flex-wrap form-location-wrapper">
                <div class="search-category d-flex h-48 select-border-end-0 radius-end-0 search-form d-sm-flex d-none">
                    
                    <div class="search-form__wrapper position-relative">
                        <input type="text" class="search-form__input common-input py-13 ps-16 pe-18 rounded-start-pill rounded-end-pill pe-44" placeholder="Search for a product or brand">
                        <button type="submit" class="w-32 h-32 bg-main-600 rounded-circle flex-center text-xl text-white position-absolute top-50 translate-middle-y inset-inline-end-0 me-8"><i class="ph ph-magnifying-glass"></i></button>
                    </div>
                </div>
                
            </form>
            <!-- form location start -->
            <!-- Header Middle Right start -->
            <div class="header-right flex-align d-lg-block d-none">
                <div class="flex-align flex-wrap gap-12">
                    <button type="button" class="search-icon flex-align d-lg-none d-flex gap-4 item-hover">
                        <span class="text-2xl text-gray-700 d-flex position-relative item-hover__text">
                            <i class="ph ph-magnifying-glass"></i>
                        </span>
                    </button>
                    
                    <a href="{% url "account" %}" class="flex-align gap-4 item-hover">
                        <span class="text-2xl text-gray-700 d-flex position-relative">
                            <i class="ph ph-user-circle"></i>
                        </span>
                        <span class="text-md text-gray-500 item-hover__text d-none d-lg-flex">Account</span>
                    </a>
                </div>
            </div>
            <!-- Header Middle Right End  -->
        </nav>
    </div>
</header>
<!-- ======================= Middle Header End ========================= -->

<!-- ==================== Header Start Here ==================== -->
<header class="header bg-white border-bottom border-gray-100">
    <div class="container container-lg">
        <nav class="header-inner d-flex justify-content-between gap-8">
            <div class="flex-align menu-category-wrapper">
                <!-- Category Dropdown Start -->
                
                <!-- Category Dropdown End  -->
                <!-- Menu Start  -->
                <div class="header-menu d-lg-block d-none">
                    <!-- Nav Menu Start -->
                    <ul class="nav-menu flex-align ">
                        <li class="nav-menu__item">
                            <a href="{% url "home" %}" class="nav-menu__link">Home</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="{% url "account" %}" class="nav-menu__link">Account</a>
                        </li>
                        <li class="nav-menu__item">
                            <a href="{% url "contact" %}" class="nav-menu__link">Contact Us</a>
                        </li>
                    </ul>
                    <!-- Nav Menu End -->
                </div>
                <!-- Menu End  -->
            </div>
            <!-- Header Right start -->
            <div class="header-right flex-align">
                <a href="tel:{% contact1 %} " class="bg-main-600 text-white p-12 h-100 hover-bg-main-800 flex-align gap-8 text-lg d-lg-flex d-none">
                    <div class="d-flex text-32"><i class="ph ph-phone-call"></i></div>
                    {% contact1 %} 
                </a>
                <div class="me-16 d-lg-none d-block">
                    <div class="flex-align flex-wrap gap-12">
                        <button type="button" class="search-icon flex-align d-lg-none d-flex gap-4 item-hover">
                            <span class="text-2xl text-gray-700 d-flex position-relative item-hover__text"><i class="ph ph-magnifying-glass"></i></span>
                        </button>
                        
                    </div>
                </div>
                <button type="button" class="toggle-mobileMenu d-lg-none ms-3n text-gray-800 text-4xl d-flex"> <i class="ph ph-list"></i> </button>
            </div>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->
