{% extends "frontend/base.html" %}
{% load static %}
{% block content %}

<!-- ========================= Breadcrumb Start =============================== -->
<div class="breadcrumb py-26 bg-main-two-50">
  <div class="container container-lg">
      <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
          <h6 class="mb-0">Checkout</h6>
          <ul class="flex-align gap-8 flex-wrap">
              <li class="text-sm">
                  <a href="index.html" class="text-gray-900 flex-align gap-8 hover-text-main-600">
                      <i class="ph ph-house"></i>
                      Home
                  </a>
              </li>
              <li class="flex-align">
                  <i class="ph ph-caret-right"></i>
              </li>
              <li class="text-sm text-main-600"> Checkout </li>
          </ul>
      </div>
  </div>
</div>
<!-- ========================= Breadcrumb End =============================== -->

<!-- ================================= Checkout Page Start ===================================== -->
<section class="checkout py-80">
  <div class="container container-lg">
      <div class="row">
          <div class="col-xl-9 col-lg-8">
              <form action="#" class="pe-xl-5">
                  <div class="row gy-3">
                      <div class="col-sm-6 col-xs-6">
                          <input type="text" name="name" value="{{request.user.name}}" class="common-input border-gray-100" placeholder="Name">
                      </div>
                      <div class="col-12">
                          <input type="text" name="hn" class="common-input border-gray-100" placeholder="House number and street name">
                      </div>
                      <div class="col-12">
                          <input type="text" name="apartment" class="common-input border-gray-100" placeholder="Apartment, suite, unit, etc. (Optional)">
                      </div>
                      <div class="col-12">
                          <input type="text" name="city" class="common-input border-gray-100" placeholder="City">
                      </div>
                      <div class="col-12">
                          <input type="text" name="state" class="common-input border-gray-100" placeholder="State">
                      </div>
                      <div class="col-12">
                          <input type="text" name="pin" class="common-input border-gray-100" placeholder="Postal Code">
                      </div>
                      <div class="col-12">
                          <input type="number" name="mobile_number" value="{{request.user.mobile_number}}" class="common-input border-gray-100" placeholder="Mobile Number">
                      </div>
                      <div class="col-12">
                          <input type="email" name="email" value="{{request.user.email}}" class="common-input border-gray-100" placeholder="Email Address">
                      </div>
                      
                      <div class="col-12">
                          <div class="my-40">
                              <h6 class="text-lg mb-24">Additional Information</h6>
                              <input type="text" class="common-input border-gray-100" placeholder="Notes about your order, e.g. special notes for delivery.">
                          </div>
                      </div>

                  </div>
              </form>
          </div>
          <div class="col-xl-3 col-lg-4">
              <div class="checkout-sidebar">
                  <div class="bg-color-three rounded-8 p-24 text-center">
                      <span class="text-gray-900 text-xl fw-semibold">Your Orders</span>
                  </div>

                  <div class="border border-gray-100 rounded-8 px-24 py-40 mt-24">
                      <div class="mb-32 pb-32 border-bottom border-gray-100 flex-between gap-8">
                          <span class="text-gray-900 fw-medium text-xl font-heading-two">Product</span>
                          <span class="text-gray-900 fw-medium text-xl font-heading-two">Subtotal</span>
                      </div>

                      <div class="flex-between gap-24 mb-32">
                          <div class="flex-align gap-12">
                              <span class="text-gray-900 fw-normal text-md font-heading-two w-144"> {{product.name}} </span>
                              <span class="text-gray-900 fw-normal text-md font-heading-two"><i class="ph-bold ph-x"></i></span>
                              <span class="text-gray-900 fw-semibold text-md font-heading-two">1</span>
                          </div>
                          <span class="text-gray-900 fw-bold text-md font-heading-two"> ₹{{product.selling_price}} </span>
                      </div>

                      <div class="border-top border-gray-100 pt-30  mt-30">
                          <div class="mb-32 flex-between gap-8">
                              <span class="text-gray-900 font-heading-two text-xl fw-semibold">Subtotal</span>
                              <span class="text-gray-900 font-heading-two text-md fw-bold"> ₹{{product.selling_price}} </span>
                          </div>
                          <div class="mb-0 flex-between gap-8">
                              <span class="text-gray-900 font-heading-two text-xl fw-semibold">Total</span>
                              <span class="text-gray-900 font-heading-two text-md fw-bold"> ₹{{product.selling_price}} </span>
                          </div>
                      </div>
                  </div>
                  
                  <div class="mt-32">
                      <div class="payment-item">
                          <div class="form-check common-check common-radio py-16 mb-0">
                              <input class="form-check-input" type="radio" name="payment" id="payment2" checked>
                              <label class="form-check-label fw-semibold text-neutral-600" for="payment2">Pay Now</label>
                          </div>
                          <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 position-relative">   
                              <p class="text-gray-800">To complete your order, please make the payment to our bank/upi account. Ensure to include your Order ID as a reference. We will process your order once the payment is confirmed.</p>
                          </div>
                      </div>

                      <div class="payment-item">
                          <div class="form-check common-check common-radio py-16 mb-0">
                              <input class="form-check-input" type="radio" name="payment" id="payment3" disabled>
                              <label class="form-check-label fw-semibold text-neutral-600" for="payment3">Cash on delivery</label>
                          </div>
                          <div class="payment-item__content px-16 py-24 rounded-8 bg-main-50 position-relative">   
                              <p class="text-gray-800">Cash on delivery is not available. </p>
                          </div>
                      </div>

                  </div>

                  <div class="mt-32 pt-32 border-top border-gray-100">
                      <p class="text-gray-500">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#" class="text-main-600 text-decoration-underline"> privacy policy</a> .</p>
                  </div>

                  <a href="#" class="btn btn-main mt-40 py-18 w-100 rounded-8 mt-56">Place Order</a>
                  
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ================================= Checkout Page End ===================================== -->

{% include "frontend/includes/shiping-section.html" %}

{% endblock content %}
