{% extends "frontend/base.html" %}
{% load static %}
{% load template_tag %}
{% block content %}

<!-- ========================= Breadcrumb Start =============================== -->
<div class="breadcrumb py-26 bg-main-two-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">Terms & Condition's</h6>
            <ul class="flex-align gap-8 flex-wrap">
                <li class="text-sm">
                    <a href="{% url "home" %}" class="text-gray-900 flex-align gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i>
                        Home
                    </a>
                </li>
                <li class="flex-align">
                    <i class="ph ph-caret-right"></i>
                </li>
                <li class="text-sm text-main-600"> TC </li>
            </ul>
        </div>
    </div>
</div>
<!-- ========================= Breadcrumb End =============================== -->

<section class="account py-80">
    <div class="container container-lg">
        <div class="row gy-4 p-14">
            <div class="card card-soft-main-600 shadow border-0">
                <div class="card-header card-title">
                    <h5 class="">Refund Policy - {% site_title %}</h5>
                </div>
                <div class="card-body">
                    <p><strong>Effective Date: 20 Dec 2024</strong></p>
                    <p>At {% site_title %}, we strive to ensure the satisfaction of our students. If, for any reason, you are not entirely satisfied with your course enrollment, we’re here to help.</p>
                    <h5>1. Course Enrollment Cancellation Policy</h5>
                    <p>You have 7 days to cancel your course enrollment from the date you enrolled. To be eligible for a refund, you must not have accessed any course materials or completed any course assignments.</p>
                    <h5>2. Refunds</h5>
                    <p>Once we receive your cancellation request, we will notify you that we have received your request. We will immediately notify you on the status of your refund after verifying that you have not accessed any course materials.</p>
                    <p>If your refund is approved, we will initiate a refund to your original payment method within 3 working day's. You will receive the credit within a certain amount of days, depending on your card issuer's policies.</p>
                    <h5>3. Late or Missing Refunds</h5>
                    <p>If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, as it may take some time before your refund is officially posted.</p>
                    <p>Next, contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund, please contact us at <a href="mailto:{% support_mail %}">{% support_mail %}</a>.</p>
                    <h5>4. Exceptions</h5>
                    <p>Some courses are non-refundable, including but not limited to:</p>
                    <ul>
                        <li>Courses that have already been accessed or completed</li>
                        <li>Courses with certificates or other digital credentials</li>
                        <li>Special promotion or discounted courses</li>
                    </ul>
                    <h5>5. Contact Us</h5>
                    <p>For more information about our refund policy, if you have questions, or if you would like to make a complaint, please contact us by email at <a href="mailto:{% support_mail %}">{% support_mail %}</a> or by mail using the details provided below:</p>
                    <p>Note: As we provide digital access to our courses, we do not have a physical shipping address. All courses are available online, and you can access them through your account dashboard.</p>
                    <p>Office Location: {% office_address %} </p>
                    <a href="{% url 'contact' %}" class="btn btn-info mt-14">Contact US</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}