{% extends "frontend/base.html" %}
{% load static %}
{% block content %}

<!-- ========================= Breadcrumb Start =============================== -->
<div class="breadcrumb py-26 bg-main-two-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">My Account</h6>
            <ul class="flex-align gap-8 flex-wrap">
                <li class="text-sm">
                    <a href="{% url "home" %}" class="text-gray-900 flex-align gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i>
                        Home
                    </a>
                </li>
                <li class="flex-align">
                    <i class="ph ph-caret-right"></i>
                </li>
                <li class="text-sm text-main-600"> Account </li>
            </ul>
        </div>
    </div>
</div>
<!-- ========================= Breadcrumb End =============================== -->

<!-- =============================== Account Section Start =========================== -->
<section class="account py-20">
    <div class="container container-lg">

        {% if messages %}
        <ul class="mb-12">
            {% for message in messages %}
            <li class="{% if message.tags == 'warning' %}text-danger bg-danger-200 {% else %} text-success {% endif %} p-1 px-10 rounded">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{request.user}}

        {% if request.user.is_authenticated %}
        <div class="row gy-4">
            <div class="col-md-4">
                <div class="card card-soft-main-600 shadow border-0 hover-bg-gray-100">
                    <div class="card-body">
                        <h5 class="card-title">Account Information</h5>
                        <p class="card-text">You can update your account information here.</p>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3 mt-4">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{ request.user.name }}">
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="mobile_number" class="form-label">mobile_number</label>
                                <input type="text" class="form-control" id="mobile_number" name="mobile_number"
                                value="{{ request.user.mobile_number }}">
                            </div>
                            <div class="mb-3 mt-4">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                value="{{ request.user.email }}" readonly>
                            </div>
                            <button type="submit" class="mt-4 btn bg-gray-500 hover-bg-success-700">Update Account</button>
                            <a href="{% url "logout" %}" type="button" class="mt-4 btn btn-danger hover-border-danger-400 float-end">Logout</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-soft-main-600 shadow border-0 hover-bg-gray-100">
                    <div class="card-body">
                        <h5 class="card-title">My Orders</h5>
                        <p class="card-text">View your past orders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-soft-main-600 shadow border-0 hover-bg-gray-100">
                    <div class="card-body">
                        <h5 class="card-title">My Transactions</h5>
                        <p class="card-text">View your transaction history</p>
                    </div>
                </div>
            </div>
        </div>

        {% else %} 
        <!-- User is not autheriged -->
        <div class="row gy-4">

            <!-- Login Card Start -->
            <div class="col-xl-6 pe-xl-5">
                <form action="{% url "login_customer" %}" method="post">
                    {% csrf_token %}
                    <input hidden name="next" value="{{request.GET.next}}">
                    <div class="border border-gray-100 hover-border-main-600 transition-1 rounded-16 px-24 py-40 h-100">
                        <h6 class="text-xl mb-32">Login</h6>
                        <div class="mb-24">
                            <label for="username" class="text-neutral-900 text-lg mb-8 fw-medium">Username or email address <span class="text-danger">*</span> </label>
                            <input type="email" name="email" class="common-input" id="username" placeholder="Email">
                        </div>
                        <div class="mb-24">
                            <label for="password" class="text-neutral-900 text-lg mb-8 fw-medium">Password</label>
                            <div class="position-relative">
                                <input type="password" name="password" class="common-input" id="password" placeholder="Enter Password">
                                <span class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y cursor-pointer ph ph-eye-slash" id="#password"></span>
                            </div>
                        </div>
                        <div class="mb-24 mt-48">
                            <div class="flex-align gap-48 flex-wrap">
                                <button type="submit" class="btn btn-main py-18 px-40">Log in</button>
                                <div class="form-check common-check">
                                    <input class="form-check-input" type="checkbox" value="" id="remember">
                                    <label class="form-check-label flex-grow-1" for="remember">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="mt-48">
                            <a href="#" class="text-danger-600 text-sm fw-semibold hover-text-decoration-underline">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Login Card End -->

            <!-- Register Card Start -->
            <div class="col-xl-6">
                <form action="{% url "register_customer" %}"  method="post">
                    {% csrf_token %}
                    <div class="border border-gray-100 hover-border-main-600 transition-1 rounded-16 px-24 py-40">
                        <h6 class="text-xl mb-32">Register</h6>
                        <div class="mb-24">
                            <label for="name" class="text-neutral-900 text-lg mb-8 fw-medium">Name <span class="text-danger">*</span> </label>
                            <input type="text" class="common-input" id="id_name" name="name" placeholder="Write Your Name">
                        </div>
                        <div class="mb-24">
                            <label for="email" class="text-neutral-900 text-lg mb-8 fw-medium">Email address <span class="text-danger">*</span> </label>
                            <input type="email" class="common-input" id="id_email" name="email" placeholder="Enter Email Address">
                        </div>
                        <div class="mb-24">
                            <label for="mobile_number" class="text-neutral-900 text-lg mb-8 fw-medium">Mobile Number <span class="text-danger">*</span> </label>
                            <input type="text" class="common-input" id="id_mobile_number" name="mobile_number" placeholder="Write Mobile Number">
                        </div>
                        <div class="mb-24">
                            <label for="id_password" class="text-neutral-900 text-lg mb-8 fw-medium">Password <span class="text-danger">*</span></label>
                            <div class="position-relative">
                                <input type="password" class="common-input" id="id_password" name="password" placeholder="Enter Password">
                                <span class="toggle-password position-absolute top-50 inset-inline-end-0 me-16 translate-middle-y cursor-pointer ph ph-eye-slash" id="#id_password"></span>
                            </div>
                        </div>
                        <div class="my-48">
                            <p class="text-gray-500">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our 
                                <a href="{% url "pc" %}" class="text-main-600 text-decoration-underline"> privacy policy</a>
                            .</p>
                        </div>
                        <div class="mt-48">
                            <button type="submit" class="btn btn-main py-18 px-40">Register</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Register Card End -->

        </div>
        {% endif %}
    </div>
 </section>
<!-- =============================== Account Section End =========================== -->


{% endblock content %}
